*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,600;1,700;1,800&display=swap');


body{

	font-family: 'Montserrat Subrayada', sans-serif;
}



html{
 scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #007ca5;
  border-radius:15px;
}


html{

	font-size: 62.5%;

}

p{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-weight: 400 !important;
	letter-spacing: 0.5;
}

h2{
	
	font-size: 3.5rem;
	color: #007ca5;
	margin-bottom: 1.5rem;
	font-weight: 700;
	
	font-family: 'Montserrat Subrayada', sans-serif;
}	

.img-responsive{
 width:100%;
}

.bannersec {
	background: url(img/back.jpg) no-repeat;
	background-size: 100% 70%; /*x and y*/
	background-position: top center;
	padding:10rem 0 0;
}

.leftsec{

	text-align: right;
	padding: 5rem 0;

}


.leftsec h1{

	font-size: 4.4rem;
	color: white;
	margin-bottom: 2rem;
	padding: relative;
	margin-right:2rem;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.leftsec h1::before {
	content: '';
	position: absolute;
	right:0;
	width: 5px;
	height: 100px;
	background: #ff4c20;
}

p{
	font-size: 1.4rem;
	color: #000000;
	line-height: 2.6rem;
	font-family: 'Montserrat Subrayada', sans-serif;
}


.logo{
	width:180px;
}

#box_arj{
	position: relative;
}

.tex_wrap h1{
	font-size: 4.5rem;
    font-weight: 700;
    color: #007ca5;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.tex_wrap a{

    display: inline-block;
    padding: 1rem 3rem;
    background: #007ca4;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    box-shadow: 5px 20px 10px -18px #000;
    text-decoration: none;
}

.small_device{
	display: none;
}

.carousel-indicators{
	background: rgba(0,0,0,0.5);
	left:0;
	right:0;
	margin:0 0 !important;
	padding:2.5rem 0;
	width:auto;
}
.carousel-indicators li{
	background:transparent;
	border:2px solid #fff;
	border-radius: 5px; 
}
.carousel-indicators li.active{
   background: #007ca5;
   opacity: 0.8; 
   border:2px solid #007ca5;
	
}

/*navigation*/
#topheader{
	background: #f9f9f9;
	border-bottom:1px solid #c8c8c8;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 999;
}

.logo{
	transition: 0.5s;
}

#topheader.sticksec{
	background: rgb(255 255 255 / 88%); 
}

#topheader.sticksec .logo{
 width:120px;
}

.navbar{
	padding:0rem 0;
}

.navbar-light .navbar-nav .nav-link{

padding: .3rem 2rem;
font-size: 1.4rem;
font-family: 'Montserrat Subrayada', sans-serif;
color: #1A1818;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.6;

}

.navbar-light .navbar-nav .nav-link:hover{
 color:#007ca5;
}

.dropdown-menu{
	border: 1px solid #007ca5;
}

.navbar-light .navbar-toggler{

border-color: rgb(0 124 165 / 55%);
font-size: 2rem;
color:rgb(0 124 165);
outline:none;
}

.dropdown-menu{
	transition:1s; 
}

.nav-link.contact{
	border-radius:15px;
	border:1px solid #007ca5 !important;
	margin-left:13px;
}

#who_are{
	padding:75px 0;
	position: relative;
	overflow:hidden; 
	margin-top: 50px;
}


#who_are .polygon{
  position: absolute;
  right: -8%;
  top: 6%;
  opacity: 0.4;
}

.who_we a{

	display: inline-block;
	padding: 1rem 3rem;
	background: #007ca4;
	border-radius: 30px;
	color: #fff;
	font-size: 15px;
	margin-top: 15px;
	box-shadow: 5px 20px 10px -18px #000;
	text-decoration: none;

}

.dropdown-menu a{
  font-size:1.3rem;
}

/*banner_section start*/	

#carouselExampleFade{
	position: relative;
	top:6rem;
}


#banner_first{

 background-image: url(../pathway/banner_2.png);
 background-size: cover;
 background-position:top left; 

}

#banner_two{

 background-image: url(../pathway/banner_1.png);
 background-size: cover;
 background-position:top left; 

}


.tex_wrap{

 padding:20rem 0;

}

/*banner_section start*/	



/*service_setion*/

#services_area{
	position: relative;
	overflow: hidden;
	padding: 5rem 0;
}

#services_area h2{
  margin-bottom:5rem;
  text-align: center;
}

#services_area .polygon{
 
position: absolute;
left: -15%;
top: -40px;
opacity: 0.4;
transform: rotate(57deg);
-moz-transform:rotate(45deg);  
-webkit-transform:rotate(45deg);  
-o-transform:rotate(45deg);  
-ms-transform:rotate(45deg);  

}	

.card{
  padding:2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  box-shadow: 0px 13px 25px -21px #13c4f9;
}
.card img{
	width:11rem;
	margin-bottom: 2rem;
}
.card h3{
	margin-bottom: 2rem;
}
.card a{

	font-size: 1.2rem;
    margin-top: 5px;
    text-decoration: none;
    color: #adadad;

 }  

.card a i{

	animation:arrowse 1.5s linear infinite;

}

#services_area .col-md-4.activating .card{
	border:1px solid #007ca585;
    box-shadow: 0px 13px 20px -10px #13c4f9;
    transition: .5s;
}

#services_area .col-md-4.activating a{
	color:#007ca5;
}

@keyframes arrowse{

to{
	margin-left:5px;
}

}

/*slide slider start*/

#client{
	position: relative;
	overflow:hidden;
	padding:5rem 0;
}

#client .polygon{
	position: absolute;
	right:-10%;
	opacity: 0.4;
	width: 450px;
	top:0;
}

#client h2{
	text-align:center;
	margin-bottom: 5rem;
} 

#client .card{
	box-shadow:5px 0px 15px -10px #13c4f9
}

#client .card .imgcover{
	width:50px;
	object-fit: cover;
	height: 50px;
	border-radius: 50%;
	overflow:hidden;
	margin-bottom: 1rem;
	object-fit: cover;
	box-shadow: 2px 5px 9px -4px #787e80;
	border:1px solid #fff;
}

#client .card .imgcover img{
	width:100%;
	object-fit: cover;
}

#client .card p{
    font-size: 1.2rem;
    color: #232323;
    line-height: 2rem;
}

#client .card h3 {
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
 }

#client .card h5 {

font-size: 10px;
color: #787878;   

}
.owl-theme .owl-nav{
	margin-top: 30px;
}
button.owl-prev,
button.owl-next{
width: 40px;
height: 40px;
background: #007caa !important;
font-size: 20px !important;
border-radius: 50% !important;
box-shadow: 2px 2px 10px -1px #7e7e7e;
color: #fff !important;
transition: 0.5s;
}

 button.owl-prev:hover,
 button.owl-next:hover{

background: #6a7f86 !important;
 
}

 button.owl-prev:focus,
button.owl-next:focus{
 
	outline:none !important;
	border:none;
}
.latest{
	background: red;
}

.owl-item.center .card{
 
 border:1.5px solid #007ca585;

}

#getTouch{

 padding:50px 0;
 position: relative;
 background: #f3f4fd;
 overflow:hidden;
}

#getTouch .polygon{

	position: absolute;
	left:-20%;
 	transform:rotate(45deg);  
  -moz-transform:rotate(45deg);  
  -webkit-transform:rotate(45deg);  
  -o-transform:rotate(45deg);  
  -ms-transform:rotate(45deg); 
  opacity: 0.4;
}

#getTouch h2{
	text-align: center;
	margin-bottom: 50px;
}

#getTouch input[type="text"],
#getTouch input[type="email"],
#getTouch textarea{
padding: 20px 15px;
font-size: 13px;
border: 1px solid #007caa7a;
margin-bottom: 15px;

}

#getTouch a{

	display:inline-block;
    padding: 1rem 3rem;
    background: #007ca4;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    box-shadow: 5px 20px 10px -18px #000;
    text-decoration: none;
}

/*slide slider*/

/*our_project start*/

#our_project{
 padding:0px 0 50px;
}


#our_project h2{
 margin-bottom: 30px;
 text-align: center;
}

#our_project .owl-carousel .owl-item img{

 width:90% !important;
 margin:0 auto;
}
.text-center{
	text-align: center;
}
/*our_project ed*/


/*footer area*/

#footer{
	padding:50px 0 30px;
	background: #0282ab;
}

#footer h4{

	font-size: 1.5rem;
	color: #ebebeb;
	font-weight: 600;
	margin-bottom:15px;
}

#footer p{
    font-size: 1.3rem;
	color: #ebebeb;
	line-height:2rem; 
	margin-top: 15px;
}

#footer ul{
	margin:0;
	padding:0;
	list-style: none;
}

#footer ul li a{

	display: inline-block;
	text-decoration: none;
	color: #ebebeb;
	margin-bottom:10px;
	font-size: 1.3rem;
}

#footer ul li a i{
	font-style: 1.5rem;
	margin-bottom: 12px;
}
#footer .send_area{
  background: #fff;
  padding:3px 5px;
  border-radius: 30px;
}

#footer .send_area input{
 border:none;
 font-size: 11px;
 box-shadow: none;
 border-radius: 50px;
}

#footer .send_area input:focus{
 border:none !important;
 outline:none !important;
 box-shadow: none;
}


#footer .send_area button{

    border-radius: 30px;
    padding: 1rem 2rem;
    font-size: 11px;
    background: #0282ab;
    color: #fff;
}

#footer .send_area button:focus{

	border:none;
	outline:none;

}
/*footer area ed*/

#solutioning {
	
	background: #f3f4fd;
	padding:50px 0;

}
#solutioning .cover_box{
	overflow: hidden;
	border-radius: 5px;
	height: 230px;
	margin:10px;
	position: relative;
	box-shadow: 0px 13px 10px -10px #333232;
}

#solutioning .cover_box img{

	width:100%;
	transition: 1s;
	transition-delay: .4s;
	height: 100%;
	object-fit: cover;
}

#solutioning .cover_box .view_detail{

	position: absolute;
	top: 183px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #077295cf;
	padding:1rem 1.5rem;
	transition: cubic-bezier(.35,.48,.77,.26) 0.5s;
	transition:-webkit-cubic-bezier(.35,.48,.77,.26) 0.5s;
	transition:-moz-cubic-bezier(.35,.48,.77,.26) 0.5s;
	text-align: center;
	cursor: pointer;
}

#solutioning  h2{
	text-align: center;
	margin-bottom: 3rem;
	line-height: 5rem;
}
#solutioning .cover_box .view_detail h5{
	font-size:15px; 
	color: #ffffffdb;
    font-weight: 600;
    margin-bottom: 16px;

}


#solutioning .cover_box .view_detail p{

    font-size: 1.4rem;
    color: #d2d1d1;
    line-height: 1.8rem;
}

#solutioning .cover_box:hover .view_detail{
	
	top: 0;

}

#solutioning .cover_box:hover img{

	transform:rotate(-2deg) scale(1.2);

}

#solutioning .cover_box:hover .view_detail{
	
	top: 0;

}
#solutioning .cover_box:hover .view_detail{
	
	padding:80px 5px;

}

.carousel-indicators{
	bottom:0 !important;
}

nav.navbar.bootsnav ul.nav > li > a{

padding: 1.8rem 0.5rem;
margin: 0 1.5rem;
color: #222;
font-weight: 400;
font-size: 1.4rem;
transition: 0.5s;

}

nav.navbar.bootsnav ul.nav > li > a:hover{

 color:#007ca5 !important;

}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{

transition: 0.5s;
color:#323232;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{

 color:#036888 !important;
}

h5.title{

 color:#036888;	

}

.getTouching{

	background: linear-gradient(to bottom,#1ea0cc,#007ca4);
	background:-webkit-linear-gradient(to bottom,#1ea0cc,#007ca4);
	background:-moz-linear-gradient(to bottom,#1ea0cc,#007ca4);
	background:-o-linear-gradient(to bottom,#1ea0cc,#007ca4);
	color: #fff;
	border-radius: 30px;
	border: 1px solid #137b9b;
	box-shadow: inset 0px 1px 1px #50d3ff;
	color:#fff !important;
	text-align: center;
	width: 120px !important;

}

.navbar-brand{

 height: auto;
 padding:0;
}


#project_view .item{

padding: 15px 5px;
border: 1px solid #cccccc82;
border-radius: 9px;
box-shadow: 2px 2px 15px -6px #6a6a6a;
margin: 15px 0px;
border: 1px solid #ccc;
    

}

/*media section*/	


@media all and (max-width: 1600px) and (min-width: 1201px){

.tex_wrap{
	padding:20rem 5rem;
	text-align: left;
}

}

@media (max-width:1200px ){

.tex_wrap{
	padding:20rem 5rem;
}

}

@media all and (max-width: 1199px) and (min-width: 992px){

.tex_wrap{
	padding:12rem 5rem;
}

}

@media all and (max-width: 991px) and (min-width: 768px){

.tex_wrap{
	padding:10rem 5rem;
}

.tex_wrap h1{
	font-size: 3.5rem;
}


}

@media(max-width:991px){

html{

	font-size: 55%;

}
.leftsec h1::before {
	content: '';
	width: 5px;
	height: 50px;

}

}

@media(max-width:768px){

html{

	font-size: 50%;

}

.leftsec h1::before {
	content: '';
	width: 5px;
	height: 80px;

}
	
}


@media(max-width:767px){

html{

	font-size: 45%;

}

.bigimg{
	width: 100%;
}

.small_device{
	display: block;
}


.carousel-indicators{
	padding:0.6rem 0;
	bottom:0 !important;
}

.logo{
	width:130px;
}
.nav-link.contact{
	border-radius:15px;
	border:1px solid #007ca5 !important;
	margin-left:0px;
	display: inline-block;
}

#who_are{
	padding:20px 0 50px;
}
.card{
	margin-top:2rem;
}

#client h2 {
    text-align: center;
    margin-bottom: 30px;
}

#client .polygon{
	position: absolute;
	right:-10%;
	opacity: 0.4;
	width: 300px;
	top:0;
}
#our_project .owl-carousel .owl-item img{

 width:100% !important;

}


.navbar li.nav-item{
 background: rgba(0,0,0,0.9);
 width:100%;
}

#topheader .container{
	padding:0px;
}

.navbar{
	position: relative;
}

.navbar-light .navbar-nav .nav-link {
    padding: 1.8rem 2rem;
	border: 0.1rem solid #7f828233;
	color: #208cb0 !important;
	font-size: 2rem;
	font-weight: 600;
	transition: .5s;
}

.navbar-light .navbar-nav .nav-item:last-child .nav-link{

	padding:1rem 3rem;
	margin:1rem;

}

.navbar-light .navbar-nav .nav-link:hover {
    padding: 1rem 2rem;
	border: 0.1rem solid #7f828233;
	color: rgba(255,255,255,0.8) !important;
}

.navbar-brand{
	margin-left:3px;
}
.navbar-toggler{
	
	margin-right:10px;

}



.dropdown-menu{

	background: rgba(0, 123, 162, 0.96);
}
.dropdown-menu a{
	font-size:1.7rem;
}


.dropdown-toggle{
	position: relative;
}
.dropdown-toggle::after{

	position: absolute;
	right:5px;
	top:12px;
	font-size:18px;
}

.dropdown-toggle.change::after {

	transform:rotate(0deg);
    transform:-webkit-rotate(0deg);
    transform:-moz-rotate(0deg);
    transform:-o-rotate(0deg);
}

.tex_wrap h1{
	font-size: 2.5rem;
	margin-bottom: .5rem;
}

.tex_wrap a {
    padding: .5rem 2rem;
    font-size: 1.4rem;
    margin-top: .5rem;

}

.tex_wrap{
	padding:18rem 5rem;
}

.navbar-light .navbar-toggler {
    border: none;
    font-size: 2.8rem;
    color:#000;
}


#carouselExampleFade{
	position: relative;
	top:0rem;
}

#topheader{
  background: transparent;
  border-bottom: 0;

}

#solutioning .cover_box{

	overflow: hidden;
	border-radius: 5px;
	height: 380px;

}

#solutioning .container{
  padding:0 10px; 
}


#solutioning .col-md-6.col-lg-3{
  padding:0 10px; 
}


}

@media(max-width:766px){

.tex_wrap{
	padding:34rem 5rem 5rem;;
	text-align: center;
}
.tex_wrap h1{
	font-size: 5rem;
	margin-bottom: 2rem;
	color:#90dff9;
}

.tex_wrap p{
	font-size: 2rem;
	margin-bottom: 2rem;
	line-height: 3rem;
	color:#c1e8f5;
} 

.tex_wrap a {
    padding: .5rem 3rem;
    font-size: 2.5rem;
    margin-top: .5rem;

}


#carouselExampleFade .col-sm-6{

	max-width:100%;
	flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	-moz-flex:1;
	-o-flex:1;

}

.inside_cover{
	background: rgba(0,0,0,0.7);	
	padding:2rem 5rem;
}


#solutioning .cover_box .view_detail{

	top:88%;

}


nav.navbar.bootsnav li.dropdown ul.dropdown-menu{

	border-top:3px solid #007ca5;
	top:0px;

}

}


@media all and (max-width: 480px) and (min-width: 320px){


#footer .send_area button{
 border-radius:30px;
 padding:1.5rem 3rem;
}

#footer .col-md-3{
	padding:0 15px;
}

#who_are .polygon {
    position: absolute;
    right: 46%;
    top: -7%;
}


.tex_wrap{
	padding:35rem 1.5rem 3rem;
	text-align: center;
	margin-bottom:15px; 
}
.tex_wrap h1{
	font-size: 3rem;
	margin-bottom: 1.5rem;
	color:#90dff9;
	margin: 0;
	padding:0;
}

.tex_wrap p{
	font-size: 14px;
	margin-bottom: 1rem;
	line-height: 2.5rem;
	color:#c1e8f5;
} 

.tex_wrap a {
    padding: .5rem 3rem;
    font-size: 1.5rem;
    margin-top: .5rem;

}


#carouselExampleFade .col-sm-6{

	max-width:100%;
	flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	-moz-flex:1;
	-o-flex:1;

}

.inside_cover{
	background: rgba(0,0,0,0.7);	
	padding:2rem 1rem;
   border-radius: 15px;
   margin-bottom: 30px;
}

#banner_first{

    background-position: top left 9%;
    position: relative;

}

#banner_two{
    background-position: top left 13%;
    position: relative;
}

#solutioning .cover_box .view_detail p{

    font-size: 2rem;
    color: #d2d1d1;
    line-height: 2.8rem;
}

#who_are{

 margin-top: 0;

}


#carouselExampleFade{
	position: relative;
	top:0rem;
}

#topheader{
  background: transparent;
  border-bottom: 0;

}

#footer ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ebebeb;
    margin-bottom: 10px;
    font-size: 1.5rem;


}

}

/******bootstrav start niche*********/

@media (max-width: 992px){

nav.navbar.bootsnav .navbar-brand{

	float: left !important;

}

nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right:0;

}

nav.navbar.bootsnav ul.nav > li > a{

	font-size:1.6rem;

}
.widtajust{
 padding:0 15px !important;

}

nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title b{

	font-weight: 400;
	color:#036888;
	font-size:12px;
}

}

/********upper******/


@media(min-width:992px){

nav.navbar.bootsnav ul.nav > li > a{

	padding: 0.8rem 0.5rem;
    margin: 1rem 1.5rem;

}

nav.navbar.bootsnav li.dropdown a.dropdown-toggle::after {
    font-family: 'FontAwesome';
    content: "\f107" !important;
    float: right;
    font-size: 16px;
    margin-left: 10px;

}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{

	padding:20px 15px !important;
	border-top: 1px solid #007ca5;
	top: 50px

}

.widtajust{
padding:0 30px !important;
}

}
