
nav.navbar.bootsnav ul.nav > li > a {
    margin: 0px 10px 0 0px !important;
    padding: 10px 0 !important;
    font-family: 'Open sans', sans-serif;
}

.menu-level-1 {
    position: relative;
    z-index: 1;
    display: block;
}

.menu-level-1 .lebel-text:after {
    position: absolute;
    z-index: -1;
    background-color: transparent;
    content: "";
    left: 0;
    right: 0;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform 0.2s;
    top: -3px;
    bottom: 0;
    height: 42px;
}

li:not(.active):hover .menu-level-1 .lebel-text:after {
    background-color: #e65100;
    animation: menuLevelFirst .3s forwards;
    font-weight: 500;
}

.navbar-right > li:hover > .mega-menu-level-2 {
    display: block;
}
.menu-level-1 .lebel-text {
    padding: 10px 21px;
    border-radius: 4px;
    font-size: 16px;
    color: #727272;
    line-height:34px;
}

li:hover .menu-level-1 .lebel-text {
    color: #ffffff;
}
li.active .menu-level-1 .lebel-text {
    background-color: #e65100;
    color: #ffffff;
}

li.active:hover span {color: white;}



@keyframes menuLevelFirst {
    0% {
       transform: scaleX(.0);
    }
    20% {
        transform: scaleX(.2);
     }

     50% {
        transform: scaleX(.5);
        color: #ffffff;
     }
  
    100% {
        transform: scaleX(1);
        color: #ffffff;
    }
  }



.mega-menu-level-2 {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 900px;
    background-color: #fff;
    padding: 10px 20px 20px 40px;
    margin-left: calc(50% - 450px);
    z-index:10;
    display: block;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 7px solid #e65100;
    box-shadow: 0 1px 0 1px #efefef;
    display: none;
}

.mega-menu-level-2 .col-menu:not(:last-child):after {
    content: "";
    width: 10px;
    border-right: 1px solid #d3d3d3;
    position: absolute;
    right: 25px;
    top: 0px;
    bottom: 0px;
}
.mega-menu-level-2 .col-menu .title {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
    transition: color ease-in-out 0.35s;
}

.mega-menu-level-2 .col-menu:hover .title{
    color:  #e65100;
}

.mega-menu-level-2 .col-menu li:hover .menu-level-2 {
    transition: all ease-in-out 0.3s;
    padding-left: 0px;
}

.mega-menu-level-2 .col-menu li:hover .menu-level-2 {
    color:  #e65100;
    padding-left: 5px;

}

.mega-menu-level-2 .col-menu li:before {
    content: "";
    position: absolute;
    width: 5px;
    left: -25px;
    height: 40px;
    background-color: #e65100;
    z-index: -1;
    transform: scaleY(0);
    transition: transform ease-in .3s;
}

.mega-menu-level-2 .col-menu li:hover:before {
    transform: scaleY(1);
}

.mega-menu-level-2.content-info .col-menu::after {
    content: none !important;
    left:calc(50% - 100px);
}

.mega-menu-level-2.content-info {
    line-height: 30px;
    left: calc(50% - 100px);
}